body{
    background-color: wheat;
    background-image: url('bd.jpg');
}

img{
    width: 200px;
    height: 100%;
}


h1,h2,h3,h4,h5{
    display: inline;
}

nav ul li{
    list-style-type:  none;
    display: inline-block;
    width: 200px;
}

ol li{
    list-style-type: lower-roman;
}